<h1>Éditer la Critique</h1>

<%= render 'form' %>

<%= link_to 'Retour à la critique', @review, class: 'btn btn-secondary mt-3' %>
<%= link_to 'Retour aux critiques', reviews_path, class: 'btn btn-secondary mt-3' %>
